body {
    background-color: #f8f9fa;
  }
  
  .container {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .favorite-movie-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .favorite-movie-card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .favorite-movie-info {
    margin-top: 10px;
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .movie-misc-info {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .movie-misc-info li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* Navbar */
  .navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
  }
  
  .navbar-brand:hover {
    color: #ffc107;
  }
  
  .navbar a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .navbar a:hover {
    color: #ffc107;
  }
  
  /* Footer */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
  }
  
  .footer-position {
    position: fixed;
    bottom: 0;
    width: 100%;
  }